<%- include('header.ejs') %>

<div class="container">
  <h3>The content was posted:</h3>
  <p><strong>Name:</strong> <%- name %></p>
  <p><strong>Description:</strong> <%- desc %></p>
  <p><strong>URL:</strong> <%- url %></p>
  <p><strong>Selector:</strong> <%- sel %></p>
  
</div>
<%- include('footer.ejs') %>
